body{
    background-image: url("background.jpg");
}
h1{
    font-size: 60px;
}
h5{
    font-size: 50px;
    color: rgb(255,229,220);
}
h6{
    font-size: 35px;
    color: rgb(255,229,220);
}
.sub-title{
    font-size: 27px;
    padding: 10px;
    color: rgb(255,229,220);
}
p{
    font-size: 10px;
    color: rgb(255,229,220);
}
.content{
    font-size: 17px;
    padding: 2px 200px;
    color: rgb(255,229,220);
    text-align: left;
}
.border{
    background-color: #65ad99; /*peach leaves green*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    padding: 35px 100px;
    text-align: center;
    border-radius: 5px;
    /*-webkit-text-fill-color: pink;*/
}
.line{
    background-color: white;
    padding: 5px 120px;
}

a.nav-link:link
{
    color: white;
    text-decoration: none;
}
a.nav-link:visited
{
    color: white;
    text-decoration: none;
}
a.nav-link:hover
{
    color: rgb(255,229,220);
    text-decoration: none;
}
.nav-link:active
{
    color: white;
    text-decoration: none;
}

.cate-button{
    background-color: #65ad99;
    color: white;
    padding: 20px 50px;
    cursor: pointer;
    float: left;


}
.cate-button:hover{
    background: #3c6e56;

}
.cate-button:after{
    background: #3c6e56;

}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.active-button{
    background-color: #3c6e56;
    color: white;
    padding: 20px 50px;
    cursor: pointer;
    float: left;
}
img{
    /*padding: 20px;*/
    padding: 0px 20px;
}
img:hover{
    opacity: 0.8;
}

.recipe-border{
    background-color: #65ad99;
    /*paading: auto 100px;*/
    text-align: center;

}
table {
    font-size: 17px;
    -webkit-text-fill-color: rgb(255,229,220);
    font-family: arial, sans-serif;
    border-color: white;
    border-style: dashed;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto
}
td, th {
    text-align: left;
    padding: 3px 60px;
}
tr:nth-child(even) {
    -webkit-text-fill-color: #65ad99;
    background-color: rgb(255,229,220);
}

